.btn {
  outline: none;
  padding: 20px;
  border: 1px solid var(--dark-blue-300);
  border-radius: 24px;
  width: 90%;
}

.btn-dark {
  background-color: var(--dark-blue-300);
  color: white;
}

.btn-light {
  background-color: var(--light-blue-100);
  color: var(--dark-blue-300);
}

.btn + .btn {
  margin-top: 20px;
}

.btn-dark.back {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 100px;
  margin: 0 10px;
}
